<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
</head>
<body>
	<div id="app">
		<div class="centered-container">
			<md-content class="md-elevation-3">
				<div class="title">
					<img src="./static/img/help.png">
					<div class="md-title">USER LOGIN</div>
					<div class="md-body-1">More than a chatbot @Watson Assistant</div>
				</div>
				
				<div class="form" >
					<md-field :class="messageClassUserName"><label>Your Id</label> 
						<md-input @mouseover="clearErr()" name="loginusername" v-model="login.loginusername" autofocus required></md-input>
						<span class="md-error">{[userNameErr.verificationErrMassage]}</span>
					</md-field>
					<md-field :class="messageClassPassword"> <label>Password</label>
						<md-input v-model="login.loginpassword" type="password" required></md-input>
						<span class="md-error">{[passwordErr.verificationErrMassage]}</span>
					</md-field>
				</div>
				
				<div class="actions">
					<md-button class="md-raised md-primary" @click="doLogin">Log in</md-button>
				</div>
				
				<div class="loading-overlay" v-if="loading">
					<md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
				</div>
			</md-content>

		</div>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-resource"></script>
	<!--<script src="https://unpkg.com/vue-material"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-material/1.0.0-beta-11/vue-material.min.js"></script>
	<!-- <script src="https://unpkg.com/vee-validate@latest"></script> -->
	<script>
		Vue.use(VueMaterial.default);
		// Vue.use(VeeValidate);

		new Vue({
	        el: '#app',
	        delimiters: ['{[', ']}'],
	      	data() {
				return {
					loading: false,
					login: {
		    	    	loginusername: "",
		    	        loginpassword: "",
		    	        rememberme: false
	    	      	},
	    	      	url:'/login',
	    	      	userToken: '',
	    	      	userNameErr: {
		    	    	hasMessages: false,
		    	    	verificationErrMassage: ''
					},
					passwordErr: {
						hasMessages:false,
						verificationErrMassage:''
	    	      }
				};
			},
    	  methods: {
    		  doLogin() {
    			  let _this = this;
    			  _this.loading = true;
    			  clearErr(_this);
        	      //setTimeout(() => {
        	      //  this.loading = false;
        	      //}, 5000);
    			  if (_this.login.loginusername !== '' && _this.login.loginpassword !== '') {
    				 _this.$http.get(_this.url, {
    					 params: {
    						 username:_this.login.loginusername,
    						 password:_this.login.loginpassword,
    						 rememberme:_this.login.rememberme
    					 }
    				 }).then((rsp) => {
    					 console.log(rsp.data);

    					if (rsp.status == 200) {
    						window.location.href = 'chatbot'
    	    			// verification failed 
    					} else if (rsp.status == 203) {
	    				  setErrUmAndPw(_this, rsp.data.MASSAGE);
    					} else {
    						setErrUmAndPw(_this, 'login field. Please confirm the username and password.');
    					}
    					
    		         }).catch(error => {
	    				  setErrUmAndPw(_this, 'login field. ERROR : ' + error.statusText);
    		          	  console.log(error);
    		         });
    			  } else {
    				  // required
    				  if (_this.login.loginusername == '') {
    					  _this.userNameErr.hasMessages = true;
    					  _this.userNameErr.verificationErrMassage = 'Username is incorrect or does not exist.';
    				  }
    				  if (_this.login.loginpassword == '') {
    					  _this.passwordErr.hasMessages = true;
    					  _this.passwordErr.verificationErrMassage = 'Password is incorrect or does not exist.';
    				  }
    				  _this.loading = false;
				  }
    	     },
    	     clearErr() {
    	    	 //_this.userNameErr.hasMessages = false;
    	    	 //_this.userNameErr.verificationErrMassage = '';
    	     }
    	  },
    	  computed: {
    		  messageClassUserName () {
    	          return {
    	            'md-invalid': this.userNameErr.hasMessages
    	          }
    	        },
    	        messageClassPassword () {
      	          return {
      	            'md-invalid': this.passwordErr.hasMessages
      	          }
				} 
    	  }
    	 
      });
	function setErrUmAndPw(item, msg) {
		item.userNameErr.hasMessages = true;
		item.userNameErr.verificationErrMassage = msg;
		item.passwordErr.hasMessages = true;
		item.passwordErr.verificationErrMassage = msg;
		item.loading = false;
	};
	function clearErr(item) {
		item.userNameErr.hasMessages = false;
		item.userNameErr.verificationErrMassage = '';
		item.passwordErr.hasMessages = false;
		item.passwordErr.verificationErrMassage = '';
	}
     
    </script>
	<style lang="scss">
	.centered-container {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: relative;
	  height: 100vh;
	}
	.title {
	    text-align: center;
	    margin-bottom: 30px;
	    img {
	      margin-bottom: 16px;
	      max-width: 80px;
	    }
	  }
	  .actions {
	    .md-button {
	      margin: 0;
	    };
	    text-align: center;
	  }
	  .form {
	    margin-bottom: 30px;
	  }
	  .md-content {
	    z-index: 1;
	    padding: 40px;
	    width: 100%;
	    max-width: 400px;
	    position: relative;
	  }
	  .loading-overlay {
	    z-index: 10;
	    top: 0;
	    left: 0;
	    right: 0;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: rgba(255, 255, 255, 0.9);
	    display: flex;
	    align-items: center;
	    justify-content: center;
	  }
	</style>
</body>
</html>

